<div class="header">
  <div class="button">
    <a class="logo">
      <img src="./images/Jornada-Viagens.png" alt="icone">
    </a>
  </div>
  <div class="list">
    <ul>
      <li>
      </li>
      <li>
        <a href="#">Vender milhas</a>
      </li>
      <li>
        <a href="#">Sobre</a>
      </li>
      <li>
        <button mat-flat-button>Cadastre-se</button>
      </li>
      <li>
        <button matButton="outlined"><mat-icon>login</mat-icon>Login</button>
      </li>
    </ul>
  </div>
</div>